<center>
<span>&copy; {{ site.yearstart }} - {{site.time | date: '%Y'}}. {{ site.owner.name }}.   &nbsp;
  {% if site.owner.twitter %}<a style="display: inline;" href="http://twitter.com/{{ site.owner.twitter }}" class="author-social" target="_blank"><i  class="fa fa-twitter-square"></i> Twitter</a>{% endif %}
  &nbsp;
  {% if site.owner.google_scholar %}<a style="display: inline;" href="http://scholar.google.es/citations?user={{ site.owner.google_scholar }}" class="author-social" target="_blank"><i class="ai ai-google-scholar-square"></i>&nbsp; G. Scholar</a>{% endif %}
  &nbsp;
  {% if site.owner.facebook %}<a style="display: inline;" href="http://facebook.com/{{ site.owner.facebook }}" class="author-social" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a>{% endif %}
  &nbsp;
  {% if site.owner.linkedin %}<a style="display: inline;" href="https://linkedin.com/in/{{ site.owner.linkedin }}" class="author-social" target="_blank"><i class="fa fa-linkedin-square"></i> LinkedIn</a>{% endif %}
  &nbsp;
  {% if site.owner.instagram %}<a style="display: inline;" href="http://instagram.com/{{ site.owner.instagram }}" class="author-social" target="_blank"><i class="fa fa-instagram"></i> Instagram</a>{% endif %}
  &nbsp;
  {% if site.owner.tumblr %}<a style="display: inline;" href="http://{{ site.owner.tumblr }}.tumblr.com" class="author-social" target="_blank"><i class="fa fa-tumblr-square"></i> Tumblr</a>{% endif %}
  &nbsp;
  {% if site.owner.github %}<a style="display: inline;" href="http://github.com/{{ site.owner.github }}" class="author-social" target="_blank"><i class="fa fa-github-square"></i> Github</a>{% endif %}
  &nbsp;
  {% if site.owner.stackoverflow %}<a style="display: inline;" href="http://stackoverflow.com/users/{{ site.owner.stackoverflow }}" class="author-social" target="_blank"><i class="fa fa-stack-overflow"></i> Stackoverflow</a>{% endif %}
  &nbsp;
  {% if site.owner.lastfm %}<a style="display: inline;" href="http://lastfm.com/user/{{ site.owner.lastfm }}" class="author-social" target="_blank"><i class="fa fa-music"></i> Last.fm</a>{% endif %}
  &nbsp;
  {% if site.owner.dribbble %}<a style="display: inline;" href="http://dribbble.com/{{ site.owner.dribbble }}" class="author-social" target="_blank"><i class="fa fa-dribbble"></i> Dribbble</a>{% endif %}
  &nbsp;
  {% if site.owner.pinterest %}<a style="display: inline;" href="http://www.pinterest.com/{{ site.owner.pinterest }}" class="author-social" target="_blank"><i class="fa fa-pinterest"></i> Pinterest</a>{% endif %}
  &nbsp;
  {% if site.owner.foursquare %}<a style="display: inline;" href="http://foursquare.com/{{ site.owner.foursquare }}" class="author-social" target="_blank"><i class="fa fa-foursquare"></i> Foursquare</a>{% endif %}
  &nbsp;
  {% if site.owner.steam %}<a style="display: inline;" href="http://steamcommunity.com/id/{{ site.owner.steam }}" class="author-social" target="_blank"><i class="fa fa-steam-square"></i> Steam</a>{% endif %}
  &nbsp;
  {% if site.owner.email %}<a style="display: inline;" href="mailto:{{ site.owner.email }}" class="author-social" target="_blank"><i class="fa fa-envelope-square"></i> e-Mail</a>{% endif %}
  &nbsp;
  {% if site.owner.google_plus %}<a style="display: inline;" href="http://plus.google.com/{{ site.owner.google_plus }}" class="author-social" target="_blank"><i class="fa fa-google-plus-square"></i> Google+</a>{% endif %}

<br/>
<font size="-1">
Powered by <a href="http://jekyllrb.com">Jekyll</a> using the <a href="http://mademistakes.com/minimal-mistakes/">Minimal Mistakes</a> theme.
</font>

</span>
</center>
